.idea
uv.lock
/src/rawnind.egg-info/dependency_links.txt
/src/rawnind.egg-info/PKG-INFO
/src/rawnind.egg-info/requires.txt
/src/rawnind.egg-info/SOURCES.txt
/src/rawnind.egg-info/top_level.txt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-02-21-bayer_ms-ssim_mgout_notrans_valeither_-4/saved_models/iter_4350000.pt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-02-21-bayer_ms-ssim_mgout_notrans_valeither_-4/saved_models/iter_4350000.pt.opt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-02-21-bayer_ms-ssim_mgout_notrans_valeither_-4/args.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-02-21-bayer_ms-ssim_mgout_notrans_valeither_-4/test_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-02-21-bayer_ms-ssim_mgout_notrans_valeither_-4/train_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-02-21-bayer_ms-ssim_mgout_notrans_valeither_-4/trainres.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-03-11-bayer_ms-ssim_mgout_preupsample_notrans_valeither_-2/saved_models/iter_4320000.pt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-03-11-bayer_ms-ssim_mgout_preupsample_notrans_valeither_-2/saved_models/iter_4320000.pt.opt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-03-11-bayer_ms-ssim_mgout_preupsample_notrans_valeither_-2/args.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-03-11-bayer_ms-ssim_mgout_preupsample_notrans_valeither_-2/test_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-03-11-bayer_ms-ssim_mgout_preupsample_notrans_valeither_-2/train_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-03-11-bayer_ms-ssim_mgout_preupsample_notrans_valeither_-2/trainres.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-06-07-denoise_bayer_nocc_notrans_valeither_msssim_-2/saved_models/iter_4245000.pt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-06-07-denoise_bayer_nocc_notrans_valeither_msssim_-2/saved_models/iter_4245000.pt.opt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-06-07-denoise_bayer_nocc_notrans_valeither_msssim_-2/args.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-06-07-denoise_bayer_nocc_notrans_valeither_msssim_-2/test_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-06-07-denoise_bayer_nocc_notrans_valeither_msssim_-2/train_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-06-07-denoise_bayer_nocc_notrans_valeither_msssim_-2/trainres.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-08-14-ms-ssim_mgout_f48_-6/saved_models/iter_5985000.pt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-08-14-ms-ssim_mgout_f48_-6/saved_models/iter_5985000.pt.opt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-08-14-ms-ssim_mgout_f48_-6/args.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-08-14-ms-ssim_mgout_f48_-6/test_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-08-14-ms-ssim_mgout_f48_-6/train_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-08-14-ms-ssim_mgout_f48_-6/trainres.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-10-25-bayer_ms-ssim_mgout_gamma22_-3/saved_models/iter_2370000.pt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-10-25-bayer_ms-ssim_mgout_gamma22_-3/saved_models/iter_2370000.pt.opt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-10-25-bayer_ms-ssim_mgout_gamma22_-3/args.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-10-25-bayer_ms-ssim_mgout_gamma22_-3/test_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-10-25-bayer_ms-ssim_mgout_gamma22_-3/train_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-10-25-bayer_ms-ssim_mgout_gamma22_-3/trainres.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-11-22-bayer_ms-ssim_mgout_notrans_valeither_noowwnpics_mgdef_-1/saved_models/iter_1245000.pt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-11-22-bayer_ms-ssim_mgout_notrans_valeither_noowwnpics_mgdef_-1/saved_models/iter_1245000.pt.opt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-11-22-bayer_ms-ssim_mgout_notrans_valeither_noowwnpics_mgdef_-1/args.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-11-22-bayer_ms-ssim_mgout_notrans_valeither_noowwnpics_mgdef_-1/test_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-11-22-bayer_ms-ssim_mgout_notrans_valeither_noowwnpics_mgdef_-1/train_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingBayerToProfiledRGB_4ch_2024-11-22-bayer_ms-ssim_mgout_notrans_valeither_noowwnpics_mgdef_-1/trainres.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-06-07-denoise_prgb_nocc_notrans_valeither_msssim_-2/saved_models/iter_4980000.pt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-06-07-denoise_prgb_nocc_notrans_valeither_msssim_-2/saved_models/iter_4980000.pt.opt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-06-07-denoise_prgb_nocc_notrans_valeither_msssim_-2/args.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-06-07-denoise_prgb_nocc_notrans_valeither_msssim_-2/test_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-06-07-denoise_prgb_nocc_notrans_valeither_msssim_-2/train_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-06-07-denoise_prgb_nocc_notrans_valeither_msssim_-2/trainres.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-10-09-prgb_ms-ssim_mgout_notrans_valeither_-1/saved_models/iter_3900000.pt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-10-09-prgb_ms-ssim_mgout_notrans_valeither_-1/saved_models/iter_3900000.pt.opt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-10-09-prgb_ms-ssim_mgout_notrans_valeither_-1/args.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-10-09-prgb_ms-ssim_mgout_notrans_valeither_-1/test_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-10-09-prgb_ms-ssim_mgout_notrans_valeither_-1/train_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-10-09-prgb_ms-ssim_mgout_notrans_valeither_-1/trainres.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-10-25-prgb_ms-ssim_mgout_gamma22_-3/saved_models/iter_4305000.pt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-10-25-prgb_ms-ssim_mgout_gamma22_-3/saved_models/iter_4305000.pt.opt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-10-25-prgb_ms-ssim_mgout_gamma22_-3/args.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-10-25-prgb_ms-ssim_mgout_gamma22_-3/test_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-10-25-prgb_ms-ssim_mgout_gamma22_-3/train_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-10-25-prgb_ms-ssim_mgout_gamma22_-3/trainres.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-11-14-prgb_ms-ssim_mgout_notrans_valeither_noownpics_-1/saved_models/iter_3405000.pt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-11-14-prgb_ms-ssim_mgout_notrans_valeither_noownpics_-1/saved_models/iter_3405000.pt.opt
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-11-14-prgb_ms-ssim_mgout_notrans_valeither_noownpics_-1/args.yaml
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-11-14-prgb_ms-ssim_mgout_notrans_valeither_noownpics_-1/test_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-11-14-prgb_ms-ssim_mgout_notrans_valeither_noownpics_-1/train_cmd.sh
/src/rawnind/models/rawnind_denoise/DenoiserTrainingProfiledRGBToProfiledRGB_3ch_2024-11-14-prgb_ms-ssim_mgout_notrans_valeither_noownpics_-1/trainres.yaml
/src/rawnind/models/rawnind_denoise/train_denoise_proc2proc_2024-05-17-proc2proc_ocv3_notrans_valeither_msssim_-4/saved_models/iter_3195000.pt
/src/rawnind/models/rawnind_denoise/train_denoise_proc2proc_2024-05-17-proc2proc_ocv3_notrans_valeither_msssim_-4/saved_models/iter_3195000.pt.opt
/src/rawnind/models/rawnind_denoise/train_denoise_proc2proc_2024-05-17-proc2proc_ocv3_notrans_valeither_msssim_-4/args.yaml
/src/rawnind/models/rawnind_denoise/train_denoise_proc2proc_2024-05-17-proc2proc_ocv3_notrans_valeither_msssim_-4/test_cmd.sh
/src/rawnind/models/rawnind_denoise/train_denoise_proc2proc_2024-05-17-proc2proc_ocv3_notrans_valeither_msssim_-4/train_cmd.sh
/src/rawnind/models/rawnind_denoise/train_denoise_proc2proc_2024-05-17-proc2proc_ocv3_notrans_valeither_msssim_-4/trainres.yaml
!/build/
